.searchForm {
  position: relative;
  margin-bottom: 24px;
  border: 1px solid red;

  .searchInput {
    width: 100%;
    padding: 12px 16px;
    padding-right: 48px; // space for the button
    background: #1e293b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
  }
}